REDIS_HOST = 'localhost'
REDIS_PASSWORD = "123456"
REDIS_PORT = 6379
REDIS_SEARCH_LIMIT = 35
VR_INDEX = "VRStateIdx"
VR_KEY_PREFIX = "VRState:"
LLM_MODEL = "gpt-5-nano-2025-08-07"
ENDPOINT_PREFIX = "/virtual-reality-environment"
LOGGER_FORMAT = "%(log_color)s%(levelname)s:%(reset)s %(asctime)s %(module)s: %(message)s"
LOGGER_LEVEL = 10
LOGGER_DATE_FORMAT = "%Y-%m-%d %H:%M:%S"
LOGGER_COLOR_FORMAT = '{"DEBUG": "cyan", "INFO": "green", "WARNING": "yellow", "ERROR": "red", "CRITICAL": "bold_red"}'
VECTOR_STORE_KNOWLEDGE_BASE_ID = "vs_6920beaaf5b88191a913085f8fe88a1b"
APP_PORT = 5000
CHAT_GENERIC_FULFILLED_MESSAGE = '{"Tag": "agent_history", "Role": "assistant", "Content": "Done."}'
SCOPES = ["https://www.googleapis.com/auth/drive.readonly"]
SERVICE_ACCOUNT_FILE = '.gcp-credentials.json'
DRIVE_CONFIG_FILES = ["1I3i4C6TUT5s2MokCs-F55wmt8zqU9KsC", "1jAxzsCVrG3cRvbrCKkv2dmrqqsOZV_g1"]
REDIS_SEARCH_TEMPLATE = "@Tag:{} @UserId:{}"
PROJECT_NAME = 'ai-vr-control'
AGENT_WAITING_MESSAGE = "Retrieving information ...\n"
DEFAULT_TEXT_AGENT_OUTPUT_FIELD = "$.Components.Text"
DEFAULT_TEXT_AGENT_TAG = "text"