REDIS_HOST = 'localhost'
REDIS_PASSWORD = "password" 
REDIS_PORT = 6379
REDIS_SEARCH_LIMIT = 35
VR_INDEX = "VRStateIdx"
VR_KEY_PREFIX = "VRState:"
LLM_API_KEY = "DFFoamKiB13DwgAOUW1HJf4pGN_SJckd4Qm5R5oP95nxOhe5DsQ8ES_pP53_69CrUA"
LLM_MODEL = "gpt-5-nano-2025-08-07"
ENDPOINT_PREFIX = "/virtual-reality-environment"
LOGGER_FORMAT = "%(log_color)s%(levelname)s:%(reset)s %(asctime)s %(module)s: %(message)s"
LOGGER_LEVEL = 10
LOGGER_DATE_FORMAT = "%Y-%m-%d %H:%M:%S"
LOGGER_COLOR_FORMAT = '{"DEBUG": "cyan", "INFO": "green", "WARNING": "yellow", "ERROR": "red", "CRITICAL": "bold_red"}'
VECTOR_STORE_KNOWLEDGE_BASE_ID = "vs_jahkfl5oMr9y383scJbk8Gjf8He88a1b"
PORT = 5000
CHAT_GENERIC_FULFILLED_MESSAGE = '{"Tag": "agent_history", "Role": "assistant", "Content": "Done."}'
SCOPES = ["https://www.googleapis.com/auth/drive.readonly"]
SERVICE_ACCOUNT_FILE = '.gcp-credentials.json'
DRIVE_CONFIG_FILES = ["7KI06QI998BnL14TS6pCAP9fvJFW_s60D", "41641f7g8jl0fWoRbYS_F_LIs7pCkv16v"]
REDIS_SEARCH_TEMPLATE = "@Tag:{} @UserId:{}"
LANGSMITH_TRACING = True
LANGSMITH_API_KEY = "api-key"
PROJECT_NAME = 'ai-vr-control'
AGENT_WAITING_MESSAGE = "Regarding '{}' let me check ..."