# Redis
REDIS_HOST = 'localhost'
REDIS_PASSWORD = "password"
VR_INDEX = "VRIdx"
VR_KEY_PREFIX = "VRState:"
CONVERSATION_ID_SEARCH = "@ConversationId:"
TAG_SEARCH = "@Tag:"
REDIS_PORT = 6379
REDIS_SEARCH_LIMIT = 100

# Application
ENDPOINT_PREFIX = "/vr-state"
APP_PORT = 5000

# OpenAI
LLM_MODEL = "gpt-5-nano-2025-08-07"
VECTOR_STORE_KNOWLEDGE_BASE_ID = "vector_store_id"
AGENT_WAITING_MESSAGE = "Searching for details ... "
AGENT_DATA_FOUND_MESSAGE = "information found:\n"
AGENT_TEMPLATE = "JsonTemplateGenerator"
AGENT_STATES = "ElementStateReporter"

# Google Cloud
SCOPES = ["https://www.googleapis.com/auth/drive.readonly"]
SERVICE_ACCOUNT_FILE = '.gcp-credentials.json'
DRIVE_CONFIG_FILES = ["file_id", "file_id", "file_id"]