openai==2.8.0
openai-agents==0.6.2
google-api-python-client==2.187.0
google-auth-oauthlib==1.2.3
redis==7.0.1
fastapi==0.120.1
uvicorn==0.38.0
python-dotenv==1.1.1
pydantic_settings==2.11.0
structlog==25.5.0
dict-deep==4.1.2